:root {
  --opacity: rgba(255, 255, 255, 0.25);
}

body {
  /* display: flex; */
  background-image: url("./components/assets/gradientBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 100%;
  /* margin-bottom: 40px; */
}

h1,
p,
h3,
h4 {
  color: white;
}

.navbar {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.home-name,
.home-photo {
  width: 100%;
  margin-top: 12%;
}

.home-name {
  /* margin-top: 12%; */
  padding-bottom: 10px;
}

.contact-pic {
  margin-left: 10%;
  width: 90%;
}

.about-me {
  font-size: 22px;
  line-height: 1.4;
  width: 80%;
  padding-top: 8px;
}

.quote-wrapper {
  height: 100%;
  position: relative;
  width: 80%;
}

.box {
  background-color: var(--opacity);
  padding: 10px;
  overflow: hidden;
  border: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: x-large;
}

.active:active {
  font-weight: bolder;
  color: pink;
  text-decoration: none;
  background-color: var(--opacity);
}

.nav-link:hover {
  color: aliceblue;
  font-weight: bolder;
  background-color: #8a2bf9;
}

.resume {
  font-weight: bolder;
  background-color: blueviolet;

}

.home-container, .contact-container, .resume-container {
  padding-top: 5%;
}

.resume-container {
  width: 50%;
}

.resume-skills {
  margin-top: 5%;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.4;
  /* width: 80%; */
}

.carousel {
max-width: 50%;

}

.icon {
  padding: 5px;
}

.icon-nav {
  margin-left: 5px;
  padding: 5px;
}

.project-links {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
}

#carousel {
  margin-top: 15%;
  /* max-width: 50%; */
}

/* #carouselExampleCaptions {
  justify-content: center;
  align-items: center;
  display: flex;
} */

.carousel-item {
  /* margin-top: 30%; */
  /* position: fixed;
  float: none;
  width: 50%; */
  background-color: var(--opacity);
  padding: 6%;
  border: none;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

.project-links:hover {
  color: aliceblue;
  font-weight: bolder;
}

.carousel-indicators {
  padding-top: 50px;
}

.btn {
  background-color: blueviolet;
  color: white;
  font-weight: bolder;
}

.contact {
  background-color: var(--opacity);
  border-style: none;
  opacity: 50%;
}

.form-label {
  color: white;
  font-weight: bold;
}

.rounded-pill:hover {
  background-color: #8a2bf9;
  color: white;
}

/* .modal-body {
  background-color: #8a2bf9;
} */


.footer-container {
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 80%;
  height: 60px;   
}