

body {
  display: flex;
  background-image: url('./components/assets/gradientBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100%;
/*
  width: 100%;
  height: auto; */
}

.home-name {
  width: 50%;
}